<!DOCTYPE html>

<html lang="en">
<head>
    {% include head.html %}
    {% if page.languages %}
        {% include head-highlightjs.html languages=page.languages %}
    {% endif %}
</head>
<body>

    <sidebar class="sidebar">
        <h2>Links</h2>
        {% for link in page.links %}
        <a class="link" href="{{ link.url }}">
            <object class="link__img" data="{{ link.icon }}" type="image/png">
                <img class="link__img" src="/images/ic/link.svg">
            </object>
            <span class="link__title">{{ link.name }}</span>
        </a>
        {% endfor %}
        <h2>Contributors</h2>
        {% for contributor in page.contributors %}
        <a class="link" href="{{ contributor.url }}">
            <object class="link__img--round" data="{{ contributor.avatar }}" type="image/png">
                <img class="link__img--round" src="/images/ic/person.svg">
            </object>
            <span class="link__title">{{ contributor.login }}</span>
        </a>
        {% endfor %}
        {% assign blogs = site.posts | where: "project", page.title %}
        {% if blogs.size > 0 %}		
        <h2>Posts</h2>
        {% for blog in blogs reversed %}
        <a class="item" href="{{ site.url }}{{ blog.url }}">
            <span class="item__title">{{ blog.title }}</span>
            {{ blog.date | date: "%B %e, %Y" }}
        </a>
        {% endfor %}
        {% endif %}
        <h2>Contact</h2>
        {% for contact in site.contact %}
        <a class="link" href="{{ contact.url }}">
            <i class="link__img material-icons">{{ contact.icon }}</i>
            <span class="link__title">{{ contact.name }}</span>
        </a>
        {% endfor %}
        <br><br>
        <div class="--desktop">
            {% for button in page.title-buttons %}
            {{ button | markdownify }}
            {% endfor %}
        </div>
    </sidebar>

    <main>
        <a class="link" href="/#projects">
            <img class="link__img" src="/images/ic/back.svg">
            <span class="link__title">All Projects</span>
        </a>
        <br>

        {% if page.isWiki == "true" or page.isDocs == "true" %}
        <nav class="nav">
            <button class="nav__item" selected>
                <i class="nav__item__icon material-icons">info</i>
                <span class="nav__item__title">About</span>
            </button>
            {% if page.isWiki == "true" %}
   
            {% endif %}
            {% if page.isDocs == "true" %}
            {% endif %}
        </nav>
        <br>
        {% endif %}

    
    </main>
    
    {% include snackbar.html %}
    {% include footer.html %}

    {% include githubbuttonjs.html %}
</body>
</html>
